.join {
    /* background: #A770EF;  
    background: -webkit-linear-gradient(to left, #99FFAD, #CF8BF3, #A770EF); 
    background: linear-gradient(to left, #99FFAD, #CF8BF3, #A770EF);   */
    background: #0B121D;
    height: 100vh;
    display: grid;
    place-items: center;  
}

.join__body {
    display: flex;
    width: 90vw;
    height: 90vh;
    background: #F0F3F9;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
    /* border: 1px solid slategray; */
}

.join__left {
    /* flex: .5; */
    /* background-color: tomato; */
    /* border-radius: 20px; */

}

.join__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    margin: auto;
    justify-content: space-between;
}

.join__heading {
    width: 70%;
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #385790;
    line-height: 65px;
}
.join__heading > span {
    color: #F38B70;
}

.join__input {
    /* padding: 5px; */
    margin: 15px;
    width: 350px;
    height: 45px;
    border: none;
    background: #FFF9EB;
    border-radius: 5px;
    text-align: left;
    padding-left: 12px;
    font-size: 15px;
    color: #08090A;
}

.join__button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #F38B70;
    color: #FFF9EB;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    border-radius: 10px;
    text-transform: uppercase;
}


@media screen and (min-width: 720px) {
    .join__left {
        flex: .5;
        background-image: url('https://image.freepik.com/free-vector/abstract-floral-background-flat-design_23-2148435707.jpg');
        background-size: cover;
        background-repeat: repeat;
        border-radius: 0px 20px 20px 0px;
    }

    .join__right {
        flex: .5;
    }

    .join__heading {
        font-size: 55px;
        width: 100%;
    }
}