.inputbody {
    /* background: blueviolet; */
}
.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.input {
    flex: 1;
    height: 50px;
    border: none;
    background: #d3d0cb;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 0px 0px 0px 10px;

}
.sendButton {
    background: transparent !important;
    width: 80px;
    border: none;
    cursor: pointer;    
}

.input__icon {
    color: #385790;
}

