.inputbody {
    /* background: blueviolet; */
    
}
.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
   
}
.input {
    flex: 1;
    height: 50px;
    border: none;
    background: #FDF0EC;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 0px 0px 0px 10px;
    text-align: left;
}
.sendButton {
    background: transparent !important;
    width: 80px;
    border: none;
    cursor: pointer;    
}

.input__icon {
    color: #385790;
}

input:focus, textarea:focus, select:focus{
    outline: none;
  }
  